<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Edit author</title>

    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/pages/css/custom.css}">

    <script type="text/javascript" th:src="@{/resources/static/assets/bootstrap/bootstrap.min.js}"></script>

</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">

        <a class="navbar-brand" href="#" th:href="@{/books}">
            <span class="hidden-folded inline">Books</span>
        </a>
        <a class="navbar-brand" href="#" th:href="@{/authors}">
            <span class="hidden-folded inline">Authors</span>
        </a>
    </nav>
    <h2>Edit author</h2>
    <hr/>

    <form class="form-horizontal" id="authorForm" action="#" th:action="@{/author}" th:object="${author}" method="post">
        <input type="hidden" th:field="*{authorId}" />

        <div class="form-group">
            <label for="dfirstName" class="col-sm-1 control-label">First name:</label>
            <div class="col-sm-11">
                <input id="dfirstName" name="firstName" class="form-input" type="text" th:field="*{firstName}" value="Steven"/>
            </div>
        </div>
        <div class="form-group">
            <label for="dlastName" class="col-sm-1 control-label">Last name:</label>
            <div class="col-sm-11">
                <input id="dlastName" name="lastName" class="form-input" type="text" th:field="*{lastName}" value="King"/>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-1 control-label">
                <a href="#" th:href="@{/authors}">Back to List</a>
            </label>
            <div class="col-sm-11">
                <input type="submit" value="Save"/>

            </div>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/resources/static/assets/jquery/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/assets/jquery/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/assets/pages/js/validate.js}"></script>

</body>
</html>