<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Add author</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

</head>

<body>
<div class="container-fluid">
    <nav class="pl-sm-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="../../resources/static/img/logoAuthor.svg"
                                              th:src="@{/resources/static/img/logoAuthor.svg}"
                                              height="32" width="32"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#" th:href="@{/books}">
                    <span class="hidden-folded inline">Books</span>
                </a>
                <a class="navbar-brand" href="#" th:href="@{/authors}">
                    <span class="hidden-folded inline">Authors</span>
                </a>
            </ul>
        </div>
    </nav>

    <h2>Add new author</h2>
    <hr/>

</div>

<form class="form-horizontal" id="authorForm" action="#" th:action="@{/author/add}" method="post">
    <div class="form-group">
        <label for="dfirstName" class="col-sm-1 control-label">First name:</label>
        <div class="col-sm-12">
            <input id="dfirstName" name="firstName" type="text" class="form-input" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label for="dlastName" class="col-sm-1 control-label">Last name:</label>
        <div class="col-sm-11">
            <input id="dlastName" name="lastName" type="text" class="form-input" value=""/>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <label class="col-sm-1 control-label">
            <a href="#" th:href="@{/authors}">Back to List</a>
        </label>
        <div class="col-sm-11">
            <input type="submit" value="Add"/>

        </div>
    </div>
</form>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>