<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Edit book</title>

    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/pages/css/custom.css}">

    <script type="text/javascript" th:src="@{/resources/static/assets/bootstrap/bootstrap.min.js}"></script>

</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
        <a class="navbar-brand" href="#" th:href="@{/books}">
            <span class="hidden-folded inline">Books</span>
        </a>
        <a class="navbar-brand" href="#" th:href="@{/authors}">
            <span class="hidden-folded inline">Authors</span>
        </a>
    </nav>

    <h2>Edit book</h2>
<hr/>

     <form class="form-horizontal" id="bookForm" th:object="${book}" action="#" th:action="@{/book/edit}" method="post">
         <input type="hidden" th:field="*{bookId}" />

         <div class="form-group">
            <label for="bookTitle" class="col-sm-2 control-label">Book title:</label>
            <div class="col-sm-10">
                <input id="bookTitle" name="bookTitle" type="text" th:field="${book.bookTitle}" style="width: 35%" value=""/>
            </div>
        </div>

        <div class="form-group">
            <label for="releaseDate" class="col-sm-2 control-label">Release Date:</label>
            <div class="col-sm-10">
                <input id="releaseDate" name="releaseDate" type="text"
                       th:value="${#dates.format(book.releaseDate, 'yyyy-MM-dd')}" style="width: 35%" />

            </div>
        </div>

        <div class="form-group">
            <label for="bookAuthorId" class="col-sm-2 control-label">Author:</label>
            <div class="col-sm-10">

                <select name="bookAuthorId" id="bookAuthorId" style="width: 35%">
                    <div th:each="author : ${authorList}" th:remove="tag">
                        <option th:if="${author.authorId != author.bookAuthorId}"
                                th:value="${author.authorId}"
                                th:text="${author.firstName}+' '+${author.lastName}">Book author</option>

                        <option th:if="${author.authorId == author.bookAuthorId}"
                                th:value="${author.authorId}"
                                th:text="${author.firstName}+' '+${author.lastName}"
                                selected="selected">
                           New Book author
                        </option>
                    </div>
                </select>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                <a href="#" th:href="@{/books}">Back to List</a>
            </label>
            <div class="col-sm-10">
                <input type="submit" value="Save"/>

            </div>
        </div>
    </form>

</div>

<script type="text/javascript" th:src="@{/resources/static/assets/jquery/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/assets/jquery/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/assets/pages/js/validate.js}"></script>

</body>
</html>