<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Delete book</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">

        <a class="navbar-brand" href="#" th:href="@{/books}">
            <span class="hidden-folded inline">Books</span>
        </a>
        <a class="navbar-brand" href="#" th:href="@{/authors}">
            <span class="hidden-folded inline">Authors</span>
        </a>

    </nav>

    <h2>Delete</h2>

    <h4>&nbsp;&nbsp;Do you really want to delete this book?</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Book title:
        </dt>
        <dd th:text="${book.bookTitle}">
            Harry ...
        </dd>
        <dt>
            Release date:
        </dt>
        <dd th:text="${#dates.format(book.releaseDate, 'yyyy-MM-dd')}">
            1997-06-26
        </dd>

        <dt>
            Author:
        </dt>
        <dd th:text="${book.authorsFirstName+' '+ book.authorsLastName}">
            Joanne ...
        </dd>
    </dl>

    <hr/>

    <dl class="dl-horizontal">
        <dt >
            <strong>
                <a href="#" th:href="@{/books}">Back to List</a>
            </strong>
        </dt>
        <dd >
            <form action="#" th:href="@{/book/delete}" th:object="${book}" method="post">
                <input type="hidden" th:field="*{bookId}" />
                <div class="form-group">
                    <input type="submit" value="Delete"/>
                </div>
            </form>
        </dd>
    </dl>

</div>

</body>
</html>