<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Books</title>

    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/pages/css/custom.css}">

</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
        <a class="navbar-brand" href="#" th:href="@{/books}">
            <span class="hidden-folded inline">Books</span>
        </a>
        <a class="navbar-brand" href="#" th:href="@{/authors}">
            <span class="hidden-folded inline">Authors</span>
        </a>
    </nav>

    <h2>Something went wrong!</h2>

    <hr/>
    <h3>Error description:</h3>
    <h4 th:text="${exception.message}">Alex</h4>

    <hr/>

</div>

</body>
</html>